@font-face {
    font-family: "RaptorSlaned"; 
    src: url("../../fonts/RaptorPremium-Slanted.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "RaptorRegular"; 
    src: url("../../fonts/RaptorPremium-Regular.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "RaptorLightSlanted"; 
    src: url("../../fonts/RaptorPremium-LightSlanted.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "RaptorLight"; 
    src: url("../../fonts/RaptorPremium-Light.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "RaptorBoldSlanted"; 
    src: url("../../fonts/RaptorPremium-BoldSlanted.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "RaptorBold"; 
    src: url("../../fonts/RaptorPremium-Bold.otf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

